body {
    font-family: Arial, sans-serif;
    background: url('https://your-background-image-url.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 56px; /* Ajuste para el margen del header fijo */
}

.jumbotron {
    background: linear-gradient(135deg, #0078D7, #00A4EF);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 60px 30px;
}

section {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

footer a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #00A4EF;
}

.stars i {
    margin-right: 2px;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1e1e1e;
        color: #dcdcdc;
    }

    .jumbotron {
        background: linear-gradient(135deg, #1a73e8, #00A4EF);
    }

    .section-divider {
        background-color: #1a73e8;
    }

    footer {
        background-color: #1a1a1a;
    }

    footer a {
        color: #dcdcdc;
    }
}

.form-group .btn-secondary {
    margin-top: 10px;
}

#toggle-password {
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
